# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest
.cache/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*.sqlite3

# Token / Secrets
.env
.env.*

# Test artifacts
htmlcov/
coverage.xml
